# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Environment variables
.env
*.env

# FAISS / index files
faiss_layer2/*.faiss
faiss_layer2/*.pkl

# Node / Next.js
node_modules/
.next/
out/
*.log
*.lock

# OS files
.DS_Store
Thumbs.db

# JetBrains IDEs
.idea/
*.iml
